* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Syne", sans-serif;
	color: #333;
	line-height: 1.6;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.deskspace-logo {
	color: rgba(20, 37, 28, 1);
	font-size: 20px;
	font-family: "Syne", sans-serif;
	font-weight: 700;
	line-height: 50px;
	text-decoration: none;
	margin-right: 2%;
}

nav {
	background: #fff;
	padding: 10px 20px;
	text-align: center;
}

nav a {
	text-decoration: none;
	margin: 0 10px;
	color: #333;
}

nav button {
	padding: 10px 20px;
	background-color: #4caf50;
	color: white;
	border: none;
	cursor: pointer;
	margin-left: 20px;
}

.nav-icon {
	width: 6px;
	height: 3px;
	margin-left: 8px;
	vertical-align: middle;
}

.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: url("./images/big\ green\ background.png");
	color: #fff;
	padding: 40px 20px;
}

.hero h1 {
	font-size: 2.5em;
	margin-bottom: 20px;
}

.hero p {
	margin-bottom: 20px;
}

form {
	max-width: 500px;
	margin: 20px auto;
}

form .form-field {
	margin-bottom: 15px;
}

select {
	width: 100%;
	padding: 10px;
	margin-bottom: 1rem;
}

.hero-content {
	flex-basis: 50%;
}

.hero-image {
	flex-basis: 50%;
}

.hero-image img {
	width: 100%;
	height: auto;
	display: block;
}

.search-form {
	display: flex;
	flex-direction: column;
}

.search-button {
	padding: 15px 30px;
	background-color: #4caf50;
	color: white;
	border: none;
	cursor: pointer;
}

.brands-section {
	text-align: center;
	padding: 20px;
	background-color: #f8f8f8;
}

.brands-section h2 {
	margin-bottom: 20px;
	font-size: 24px;
	color: #333;
}

.brand-logos {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 50px;
	padding: 0 5%;
}

.brand-logo {
	height: auto;
	flex: 0 1 auto;
	max-width: 100px;
	opacity: 0.5;
	margin: 5px;
}

.brand-logo:hover {
	opacity: 1;
}

.design-work {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 50px;
	max-width: 1200px;
	margin: 0 auto;
}

.design-work h2 {
	font-size: 3em;
	color: #333;
	margin-right: 50px;
	flex: 1;
	white-space: nowrap;
}

.design-content {
	flex: 3;
	max-width: 60%;
}

.design-content p {
	margin-bottom: 20px;
	color: #333;
	line-height: 1.6;
}

.workspace-section {
	display: flex;
	margin: 80px;
}

.workspace-image,
.workspace-content {
	width: 50%;
}

.workspace-image img {
	width: 100%;
	height: auto;
	display: block;
}

.workspace-content {
	background: url("./images/small green background.png");
	color: white;
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.workspace-content h2,
.workspace-content p {
	margin: 0;
}

.why-choose {
	padding: 40px 20px;
	max-width: 1200px;
	margin: 0 auto;
}

.why-choose h2 {
	text-align: left;
	margin-bottom: 40px;
	font-size: 1.8em;
	padding-left: 0px;
}

.features {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.features article {
	margin-bottom: 20px;
}

.features h3 {
	font-size: 1.2em;
	margin-bottom: 5px;
}

.features p {
	color: #797979;
	font-size: 1em;
}

.call-to-action {
	background: #333;
	color: #fff;
	padding: 40px 20px;
	text-align: center;
}

.call-to-action h2 {
	font-size: 1.5em;
}

.call-to-action h1 {
	font-size: 2.5em;
	margin: 20px 0;
}

footer {
	background: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

footer a {
	color: #fff;
	text-decoration: none;
}

@media (max-width: 992px) {
	.hero {
		text-align: left;
		padding: 40px;
	}

	.hero form {
		display: flex;
	}

	.hero select {
		flex: 1;
		margin-right: 10px;
	}
	.workspace-section {
		flex-direction: column;
		padding: 0;
	}

	.workspace-image,
	.workspace-content {
		width: 100%;
	}

	.workspace-content {
		padding: 20px;
	}

	.features {
		grid-template-columns: repeat(2, 1fr); /* Two columns on medium screens */
	}

	nav {
		text-align: left;
	}

	nav a {
		display: inline;
	}
}
