* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Syne", sans-serif;
	color: #333;
	line-height: 1.6;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.deskspace-logo {
	color: rgba(20, 37, 28, 1);
	font-size: 20px;
	font-family: "Syne", sans-serif;
	font-weight: 700;
	line-height: 50px;
	text-decoration: none;
	margin-right: 2%;
}

nav {
	background: #fff;
	padding: 10px 20px;
	text-align: center;
}

nav a {
	text-decoration: none;
	margin: 0 10px;
	color: #333;
}

nav button {
	padding: 10px 20px;
	background-color: #4caf50;
	color: white;
	border: none;
	cursor: pointer;
	margin-left: 20px;
}

.nav-icon {
	width: 6px;
	height: 3px;
	margin-left: 8px;
	vertical-align: middle;
}

.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: url("./images/big\ green\ background.png");
	color: #fff;
	padding: 40px 20px;
}

.hero h1 {
	font-size: 3.5em;
	margin-bottom: 20px;
}

.hero p {
	margin-bottom: 20px;
}

.hero form {
	display: flex;
	justify-content: center;
	max-width: calc(100% - 150px);
	margin: 20px auto;
	gap: 0;
}

.hero form select,
.hero form button {
	padding: 16px 24px;
	margin: 0;
	border: none;
	font-family: "Syne", sans-serif;
	height: 50px;
}

.hero form button {
	background-color: #01b154;
	color: white;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	padding: 0;
	font-size: 0.75rem;
	line-height: 50px;
	text-align: center;
	white-space: nowrap;
	min-width: 150px;
}

.hero form select:first-child {
	border-radius: 0;
	border-right: 1px solid #01b154;
}

.hero form select:focus,
.hero form button:focus {
	outline: none;
	border-color: #01b154;
}

.hero form .form-field {
	margin-bottom: 0;
}

.hero form button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 24px;
}

.hero-content {
	flex-basis: 50%;
}

.hero-image {
	flex-basis: 50%;
}

.hero-image img {
	width: 100%;
	height: auto;
	display: block;
}

.brands-section {
	text-align: center;
	padding: 20px;
	background-color: white;
}

.brands-section h2 {
	margin-bottom: 20px;
	font-size: 18px;
	color: #333;
	text-align: left;
}

.brand-logos {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 50px;
	padding: 0 5%;
}

.brand-logo {
	height: auto;
	flex: 0 1 auto;
	max-width: 100px;
	opacity: 0.5;
	margin: 5px;
}

.brand-logo:hover {
	opacity: 1;
}

.design-work {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 50px;
	width: calc(100% - 150px);
	margin: 0 auto;
}

.design-work h2 {
	font-size: 3em;
	color: #333;
	margin-right: 50px;
	flex: 1;
	white-space: normal;
}

.design-content {
	flex: 3;
	max-width: 60%;
}

.design-content p {
	margin-bottom: 20px;
	color: #797979;
	line-height: 1.6;
}

.workspace-section {
	display: flex;
	margin: 80px;
}

.workspace-image,
.workspace-content {
	width: 50%;
}

.workspace-image img {
	width: 100%;
	height: auto;
	display: block;
}

.workspace-content {
	background: url("./images/small green background.png");
	color: white;
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.workspace-content h2,
.workspace-content p {
	margin: 0;
}

.workspace-content p {
	font-size: 0.8em;
}

.why-choose {
	padding: 40px 20px;
	width: calc(100% - 150px);
	margin: 0 auto;
}

.why-choose h2 {
	text-align: left;
	margin-bottom: 40px;
	font-size: 1.8em;
	padding-left: 0px;
}

.features {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.features article {
	margin-bottom: 20px;
}

.features h3 {
	font-size: 1.2em;
	margin-bottom: 5px;
}

.features p {
	color: #797979;
	font-size: 1em;
}

.carousel-section {
	padding: 40px;
	margin: 40px;
	box-sizing: border-box;
}

.carousel {
	position: relative;
	width: calc(100% - 150px);
	height: 500px;
	margin: 100px auto;
}

.carousel-images {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.carousel-images img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: none;
}

.carousel-images img.active {
	display: block;
}

button.prev,
button.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
	background-color: rgba(0, 0, 0, 0.8);
}

button.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

button.prev {
	left: 0;
	border-radius: 3px 0 0 3px;
}

button.prev:hover,
button.next:hover {
	background-color: rgba(0, 0, 0, 1);
}

.call-to-action {
	background-color: #e2ebe6;
	padding: 50px 100px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: calc(100% - 150px);
	margin: 100px auto;
}

.cta-content h2 {
	margin-bottom: 10px;
	color: #333;
	font-weight: normal;
}

.cta-content h1 {
	margin-bottom: 30px;
	color: #333;
	font-weight: bold;
	font-size: 2.5em;
}

.cta-form {
	display: inline-flex;
	justify-content: center;
}

.cta-form select,
.cta-form {
	padding: 16px 24px;
	margin: 0;
	border-right: none;
	font-family: inherit;
}

.cta-button {
	background-color: #01b154;
	color: white;
	border: 1px solid #01b154;
	cursor: pointer;
	height: 50px;
	padding: 0px;
	font-family: inherit;
	font-size: 0.75rem;
	line-height: 50px;
	text-align: center;
	white-space: nowrap;
	border-radius: 0 5px 5px 0;
	display: inline-block;
	min-width: 150px;
	box-sizing: border-box;
}

.cta-form select:first-child {
	border-radius: 5px 0 0 5px;
}

.cta-form .cta-button {
	background-color: #01b154;
	color: white;
	border: 1px solid #01b154;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
}

.cta-form .cta-button {
	border-right: 1px solid #01b154;
}

.cta-form select,
.cta-form .cta-button {
	height: 50px;
}

.cta-form select:focus,
.cta-form .cta-button:focus {
	outline: none;
	border-color: #01b154;
}

footer {
	background: #14251c;
	color: #fff;
	padding: 40px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1200px;
	margin: 40px auto;
}

.footer-left,
.footer-right {
	display: flex;
	align-items: center;
	gap: 20px;
}

.footer-logo {
	font-size: 24px;
	flex-shrink: 0;
}

.footer-nav {
	background: #14251c;
}

.footer-nav a,
.footer-right a,
.footer-right p {
	font-size: 0.75em;
	margin: 0 15px;
	color: #fff;
}

.footer-right p {
	margin: 0;
}

@media (max-width: 992px) {
	.hero {
		text-align: left;
		padding: 40px;
	}

	.hero form {
		display: flex;
	}

	.hero select {
		flex: 1;
		margin-right: 10px;
	}

	.workspace-section {
		flex-direction: column;
		padding: 0;
	}

	.workspace-image,
	.workspace-content {
		width: 100%;
	}

	.workspace-content {
		padding: 20px;
	}

	.features {
		grid-template-columns: repeat(2, 1fr);
	}

	.call-to-action {
		padding: 50px 20px;
	}

	.cta-form {
		flex-direction: column;
	}

	.cta-form select,
	.cta-form .cta-button {
		width: 100%;
		margin-bottom: 10px;
	}

	.footer-content {
		flex-direction: column;
		text-align: center;
	}

	.footer-left,
	.footer-right {
		margin-bottom: 10px;
	}

	.footer-nav a,
	footer a {
		margin-right: 0;
		margin-bottom: 5px;
	}

	.footer-logo {
		margin-bottom: 20px;
	}

	nav {
		text-align: left;
	}

	nav a {
		display: inline;
	}
}
